<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update client</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/clients/{id}(id=${client.getId()})}" th:object="${client}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red " th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}"> Name ERROR</div>
    <br/>
    <label for="surname">Enter Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color: red " th:if="${#fields.hasErrors('surname')}"
         th:errors="*{surname}"> Surname ERROR</div>
    <br/>
    <label for="birthdate">Enter email: </label>
    <input type="text" th:field="*{birthdate}" id="birthdate"/>
    <div style="color: red " th:if="${#fields.hasErrors('birthdate')}"
         th:errors="*{birthdate}"> Birthdate ERROR</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>