<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Title</title>
</head>

<body>
<header>
    <div class="container">
      <img class="logo" src="images/logo.png" width="252" height="46" />

        <nav>
            <ul id="demo-nav">
                <li><a href="/index">Main</a></li>
                <li><a href="/trains/index">All trains</a></li>
                                <li><a href="">Find train</a></li>
                <li><a href="">Schedule&nbsp;Menu</a></li>
                <li><a href="">Bay&nbsp;a&nbsp;Ticket</a></li>
            </ul>
        </nav>

    </div>
</header>

<p> Вводная часть, в которой должны быть блоки с информацией </p>



<footer>
    Тестовый сайт
</footer>
</body>
</html>